<h1><%= @artist.name %></h1>

<table>
  <tbody>
    <% @artist.songs.each do |song| %>
      <tr>
        <td><%= song.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= form_for(Song.new, remote: true) do |f| %>
  <%= f.text_field :name, placeholder: "New a song...", rows: "8" %>
  <%= f.submit "Add" %>
<% end %>

<p><%= link_to "Back", artists_path %></p>
